@model Tp7.MVC.Models.CategoriesView

@{
    ViewBag.Title = "Categories Page";
}

<h1>Actualizar Categoria</h1>

@using (Html.BeginForm("Update", "Categories", FormMethod.Post))
{
    <label>Nombre: </label> @Html.TextBoxFor(c => c.CategoryName) 
    <label>Descripcion: </label> @Html.TextBoxFor(c => c.Description)
    <input type="submit" class="btn btn-success" value="Guardar" />
}

